<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" content="width=device-width, initial-scale=1.0" name="viewport">
		<title>MyAssistant</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" />
		<link rel="stylesheet" href="~/css/site.css" />
	</head>
	<body>
		<div>
            <partial name="_Naavbarr"/>
			<div class="d-flex">
				<div class="">
					<partial name="SideNav" />
				</div>
				<div id="main-content" class="">
					@RenderBody()
				</div>
			</div>
			<partial name="_Footer"/>
		</div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>